body {
    background-color: #eee;
}

.container {
    font-family: sans-serif;
    width: 400px;
    height: 500px;
    background-color: white;
    border: 3px solid #9900ff;
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.userInfo {
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}


.request {
    height: 65%;
    width: 100%;
    display: flex;
    justify-content: center;
    row-gap: 35px;
    align-items: center;
    flex-direction: column;
}

select {
    width: 300px;
    font-size: 18px;
    border: 2px solid black;
    cursor: pointer;
    outline: none;
}
.submit{
    font-size: 20px;
    padding: 10px 15px;
    background-color: #9900ff;
    color: white;
    border: 3px solid #9900ff;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
}
.submit:hover{
    border-radius: 0;
    background-color: transparent;
    color: #9900ff;
}