body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    background-color: #eee;
    background-repeat: no-repeat;
}

.language-container {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    gap: 10px;
}

.language-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px;
    font-size: 14px;
    color: #eddfdf;
}

.flag-icon {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.form-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 100px rgba(4, 182, 4, 0.1);
    width: 400px;
    text-align: center;
}

.navbar {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
}

.nav-link {
    color: #ffffff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    /* Semi-transparent background */
    transition: background-color 0.3s, color 0.3s;
    /* Smooth hover transition */
}

.nav-link:hover {
    background-color: rgb(232, 232, 218);
    /* Yellow background on hover */
    color: #000;
    /* Black text on hover */
}

h1 {
    color: #9900ff;
    height: fit-content;
    margin: unset;
}

form {
    min-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90%;
    border: 3px solid #9900ff;
    border-radius: 25px;
    backdrop-filter: blur(25px);
    background-color: white;
}


label {
    width: 85px;
    color: black;
    font-weight: bold;
    transform: translate(-200px, -38px);
    transition: .5s ease;
}

input:not(:placeholder-shown)+label,
input:focus+label {
    display: flex;
    transform: translate(-200px, -76px);
    color: #9900ff;
}

input:not(:placeholder-shown),
input:focus {
    border-bottom: 3px solid #9900ff !important;
}


input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    max-width: 500px;
    padding: 10px 0;
    margin: 10px 0;
    outline: none;
    border: unset;
    border-bottom: 3px solid black;
    color: #9900ff;
    text-indent: 10px;
    font-weight: bold;
    font-size: 16px;
    background-color: transparent;
    transition: .5s ease;
}

input[type="submit"] {
    background-color: #9900ff;
    color: white;
    border: 5px solid #9900ff !important;
    border-radius: 30px;
    padding: 10px 0;
    width: 500px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: .3s ease;
}

input[type="submit"]:hover {
    background-color: transparent;
    color: #9900ff;
    border-radius: 0px;
}
input[type="submit"]::before {
    content: '';
    /* background-color: transparent; */
    color: #9900ff;
}

.logo-container {
    position: absolute;
    top: 20px;
    left: 800px;
    /* Move the logo 20px from the left */
    display: flex;
    width: auto;
    /* Adjust the width to fit the logo */
}

.logo {
    max-width: 200px;
}